.form-control { font-size: inherit !important; }

// ******************* COMMON VARIABLES TO USE **************//

$faveo-fontSize :18px;
$faveo-red:#d73925;
$faveo-white: #fff;


// ******************* COMMON VARIABLES TO USE END***********//

// **************** FAVEO BOX LAYOUT END ************************//


// **************** FAVEO COLOR ********************************//

.faveo-danger{
  color: $faveo-red;
}




// **************** FAVEO COLOR END ****************************//



//***************** COMMON CLASS **********************************//
.faveo-header-title{
  font-size: $faveo-fontSize;
  font-weight: 500;
  text-transform: capitalize;

}

.faveo-trash{
  color: $faveo-red;
  cursor: pointer;
  font-size: 18px;
}

.faveo-add{
  color: green;
  cursor: pointer;
}

.m-clear{
  margin: 0px;
}

.faveo-field-danger {
  border-color:$faveo-red;
}

.faveo-danger-text{
  @extend .faveo-trash;
  font-size: 14px;
  cursor: none;
}

.is-danger{
  color:$faveo-red;
}

.has-error .form-control, .has-error .dropdown-toggle, .is-danger > .dropdown-toggle, .field-danger > .dropdown-toggle,  .field-danger, .has-error{
  border-color: $faveo-red !important;
}

.form-field-template .form-control {
  margin-bottom: 0!important;
}

.relate{
  position: relative;
}

.pull-right { float : right; }

.bg-gb { background : gainsboro !important;}

.font-weight-bold {
    font-weight: 700 !important;
}

.card{
    margin-bottom: 1rem !important;
}

.info-box .info-box-icon, .text-bg-info{
    color: #fff !important;
}

.layout-navbar-fixed .wrapper .sidebar-dark-light .brand-link:not([class*=navbar]){background-color:#343a40;}
.layout-navbar-fixed .wrapper .sidebar-dark-light .brand-link:not([class*=navbar]){background-color:#343a40;}
.layout-navbar-fixed .wrapper .sidebar-light-light .brand-link:not([class*=navbar]){background-color:#fff;}
.layout-sm-navbar-fixed .wrapper .sidebar-dark-light .brand-link:not([class*=navbar]){background-color:#343a40;}
.layout-md-navbar-fixed .wrapper .sidebar-dark-light .brand-link:not([class*=navbar]){background-color:#343a40;}
.layout-lg-navbar-fixed .wrapper .sidebar-dark-light .brand-link:not([class*=navbar]){background-color:#343a40;}
.layout-xl-navbar-fixed .wrapper .sidebar-dark-light .brand-link:not([class*=navbar]){background-color:#343a40;}
.sidebar-dark-light .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-light .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #f8f9fa !important;
    color: #1f2d3d !important;
}

.sidebar-dark-light .nav-sidebar.nav-legacy>.nav-item>.nav-link.active:not(:hover),
.sidebar-light-light .nav-sidebar.nav-legacy>.nav-item>.nav-link.active:not(:hover) {
    border-color: #f8f9fa !important;
}

.sidebar-dark-light .nav-sidebar>.nav-item>.nav-link.active:not(:hover),
.sidebar-light-light .nav-sidebar>.nav-item>.nav-link.active:not(:hover) {
    background-color: #f8f9fa !important;
    color: #1f2d3d !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: rgba(255, 255, 255, .9) !important;
    color: #343a40 !important;
}


.btn-light {
    border-color: #c6c7c8;
    box-shadow: none;
}

.router-link-active active-navigation-element active{
    background-color: #f8f9fa;
    color: #1f2d3d;
}

.nav-item menu-open{
    background-color: #f8f9fa;
    color: #1f2d3d;
}

.nav-link active-navigation-element active{
    background-color: #f8f9fa;
    color: #1f2d3d;
}

.sidebar-wrapper .sidebar-menu>.nav-item.menu-open>.nav-link, .sidebar-wrapper .sidebar-menu>.nav-item:hover>.nav-link, .sidebar-wrapper .sidebar-menu>.nav-item>.nav-link.active {
    background-color: #6c757d !important;
    color: #fff !important;
}

//***************** COMMON CLASS END*******************************//
